## Steps
1. Download all raw data for a given year and month
1. For each raw data, apply the filter before saving it
1. Transform the saved raw data into TS data
1. Convert the ts data into features and targets
1. Save the transformed data


Main objective is to write utility functions to do all these things so we can reuse them later.

In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import sys
import os
os.path.abspath(os.path.join(os.getcwd(), ".."))

'/Users/sharmilamanoj/Documents/CDA/final_project'

In [20]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_bike_data

In [21]:
rides = load_and_process_bike_data(year=2023)

File already exists for 2023-01.
Loading data for 2023-01...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 56,075
Valid records: 56,013
Records dropped: 62 (0.11%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 51,213
Valid records: 51,173
Records dropped: 40 (0.08%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 63,072
Valid records: 63,009
Records dropped: 63 (0.10%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 80,688
Valid records: 80,605
Records dropped: 83 (0.10%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 96,002
Valid records: 95,761
Records dropped: 241 (0.25%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 97,023
Valid records: 96,863
Records dropped: 160 (0.16%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 106,608
Valid records: 106,452
Records dropped: 156 (0.15%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 112,027
Valid records: 111,867
Records dropped: 160 (0.14%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 94,233
Valid records: 94,084
Records dropped: 149 (0.16%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 97,584
Valid records: 97,456
Records dropped: 128 (0.13%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 75,646
Valid records: 75,588
Records dropped: 58 (0.08%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 58,680
Valid records: 58,596
Records dropped: 84 (0.14%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!

/Users/sharmilamanoj/Documents/CDA/final_project/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

In [22]:
rides

           pickup_datetime pickup_location_id
0      2023-01-01 00:06:36              JC102
1      2023-01-01 00:07:48              JC098
2      2023-01-01 00:10:11              JC002
3      2023-01-01 00:10:12              JC103
4      2023-01-01 00:15:26              HB402
...                    ...                ...
987462 2023-12-31 23:49:41              JC078
987463 2023-12-31 23:49:44              JC078
987464 2023-12-31 23:50:04              HB608
987465 2023-12-31 23:52:52              JC023
987466 2023-12-31 23:59:57              JC109

[987467 rows x 2 columns]

In [23]:
rides_cp = rides.copy()

In [24]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987467 entries, 0 to 987466
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   pickup_datetime     987467 non-null  datetime64[ns]
 1   pickup_location_id  987383 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.1+ MB

In [25]:
rides['pickup_location_id'].unique()

array(['JC102', 'JC098', 'JC002', 'JC103', 'HB402', 'JC104', 'JC008',
       'HB303', 'HB102', 'HB507', 'HB407', 'HB101', 'HB202', 'JC024',
       'HB603', 'HB607', 'JC051', 'JC066', 'HB401', 'HB302', 'JC109',
       'HB304', 'HB105', 'JC006', 'JC106', 'HB103', 'JC014', 'JC105',
       'HB203', 'JC003', 'JC035', 'HB502', 'HB305', 'HB409', 'JC032',
       'HB602', 'JC022', 'HB301', 'JC115', 'JC110', 'HB201', 'HB506',
       'JC019', 'JC059', 'HB404', 'JC055', 'JC077', 'HB601', 'JC080',
       'JC038', 'JC099', 'JC057', 'JC052', 'JC093', 'JC020', 'JC065',
       'JC107', 'JC095', 'JC023', 'JC072', 'JC094', 'JC076', 'JC034',
       'JC074', 'JC082', 'JC078', 'JC009', 'HB408', 'HB503', 'JC013',
       'HB505', 'JC081', 'JC063', 'JC108', 'JC075', 'JC018', 'JC097',
       'JC084', 'JC027', 'JC053', 'HB501', 'HB608', 'JC116', nan, 'HB609',
       'HB610', 'HB611'], dtype=object)

In [26]:
rides

           pickup_datetime pickup_location_id
0      2023-01-01 00:06:36              JC102
1      2023-01-01 00:07:48              JC098
2      2023-01-01 00:10:11              JC002
3      2023-01-01 00:10:12              JC103
4      2023-01-01 00:15:26              HB402
...                    ...                ...
987462 2023-12-31 23:49:41              JC078
987463 2023-12-31 23:49:44              JC078
987464 2023-12-31 23:50:04              HB608
987465 2023-12-31 23:52:52              JC023
987466 2023-12-31 23:59:57              JC109

[987467 rows x 2 columns]

In [38]:
rides_loc = rides[rides["pickup_location_id"] == loc_id].copy()

ts_data = transform_raw_data_into_ts_data(rides_loc, interval_hours=1)

In [41]:
import pandas as pd

In [52]:
top_locations = rides["pickup_location_id"].value_counts().head(3).index.tolist()

all_tabular = []

for loc in top_locations:
    print(f"🚴 Processing location: {loc}")
    
    # ✅ Step 1: Filter the rides for just that location
    rides_loc = rides[rides["pickup_location_id"] == loc].copy()
    
    # ✅ Step 2: Pass interval_hours=1 (not loc) to the function
    ts_data = transform_raw_data_into_ts_data(rides_loc, interval_hours=1)
    
    # ✅ Step 3: Feature and target transformation
    features, targets = transform_ts_data_info_features_and_target(ts_data, window_size=24*28, step_size=12)

    df = features.copy()
    df["target"] = targets
    df["pickup_location_id"] = loc
    all_tabular.append(df)

# ✅ Step 4: Combine and save
tabular_data = pd.concat(all_tabular, ignore_index=True)

🚴 Processing location: JC115
🚴 Processing location: HB102
🚴 Processing location: HB103

In [49]:
# from src.data_utils import transform_raw_data_into_ts_data

# ts_data = transform_raw_data_into_ts_data(rides,6)
# ts_data.head()

In [53]:
ts_data.tail()

             pickup_hour pickup_location_id  rides
8754 2023-12-31 19:00:00              HB103      0
8755 2023-12-31 20:00:00              HB103      0
8756 2023-12-31 21:00:00              HB103      0
8757 2023-12-31 22:00:00              HB103      0
8758 2023-12-31 23:00:00              HB103      1

In [54]:
ts_data

             pickup_hour pickup_location_id  rides
0    2023-01-01 01:00:00              HB103      6
1    2023-01-01 02:00:00              HB103      9
2    2023-01-01 03:00:00              HB103      0
3    2023-01-01 04:00:00              HB103      0
4    2023-01-01 05:00:00              HB103      3
...                  ...                ...    ...
8754 2023-12-31 19:00:00              HB103      0
8755 2023-12-31 20:00:00              HB103      0
8756 2023-12-31 21:00:00              HB103      0
8757 2023-12-31 22:00:00              HB103      0
8758 2023-12-31 23:00:00              HB103      1

[8759 rows x 3 columns]

In [55]:
ts_data['pickup_location_id'].unique()

array(['HB103'], dtype=object)

In [57]:
ts_data.shape

(8759, 3)

In [58]:
ts_data.shape

(8759, 3)

In [59]:
from src.data_utils import transform_ts_data_info_features_and_target

features, targets = transform_ts_data_info_features_and_target(ts_data, window_size=24*28, step_size=12)

In [ ]:
# tabular_data = features
# tabular_data["target"] = targets

# from src.config import TRANSFORMED_DATA_DIR
# tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")

In [43]:
# Combine all top 3 datasets
tabular_data = pd.concat(all_tabular, ignore_index=True)

# Save to Parquet
from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data_top3.parquet", engine="pyarrow")

# Preview
tabular_data.head()

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id,target
0,1,7,2,3,1,0,1,0,1,0,...,5,12,4,1,6,7,2,2023-01-29 01:00:00,JC115,3
1,4,4,8,6,5,11,7,2,5,2,...,0,3,1,4,2,7,4,2023-01-29 13:00:00,JC115,4
2,1,1,0,0,0,0,0,2,0,3,...,5,5,9,5,3,2,0,2023-01-30 01:00:00,JC115,0
3,3,7,6,12,8,3,3,3,4,1,...,4,3,7,2,3,1,1,2023-01-30 13:00:00,JC115,2
4,0,0,0,0,2,0,3,2,3,1,...,25,14,5,7,0,1,1,2023-01-31 01:00:00,JC115,1