In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
import pandas as pd
from src.config import TRANSFORMED_DATA_DIR

df = pd.read_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet")
df

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id,target
0,5,0,0,0,0,0,7,0,0,0,...,0,18,0,0,0,0,0,2023-01-29 00:00:00,HB101,15
1,24,0,0,0,0,0,7,0,0,0,...,0,3,0,0,0,0,0,2023-01-29 12:00:00,HB101,27
2,2,0,0,0,0,0,13,0,0,0,...,0,13,0,0,0,0,0,2023-01-30 00:00:00,HB101,1
3,34,0,0,0,0,0,18,0,0,0,...,0,17,0,0,0,0,0,2023-01-30 12:00:00,HB101,17
4,1,0,0,0,0,0,11,0,0,0,...,0,24,0,0,0,0,0,2023-01-31 00:00:00,HB101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57959,17,0,0,0,0,0,5,0,0,0,...,0,3,0,0,0,0,0,2023-12-29 12:00:00,JC116,17
57960,4,0,0,0,0,0,6,0,0,0,...,0,9,0,0,0,0,0,2023-12-30 00:00:00,JC116,0
57961,27,0,0,0,0,0,14,0,0,0,...,0,7,0,0,0,0,0,2023-12-30 12:00:00,JC116,13
57962,0,0,0,0,0,0,1,0,0,0,...,0,7,0,0,0,0,0,2023-12-31 00:00:00,JC116,4
57963,2,0,0,0,0,0,6,0,0,0,...,0,2,0,0,0,0,0,2023-12-31 12:00:00,JC116,10

In [4]:
from datetime import datetime

from src.data_utils import split_time_series_data

X_train, y_train, X_test, y_test = split_time_series_data(
    df,
    cutoff_date=datetime(2023, 9, 1, 0, 0, 0),
    target_column="target"
)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(36980, 674)
(36980,)
(20984, 674)
(20984,)

In [5]:
import numpy as np

class BaselineModelPreviousHour:

    def fit(self, X_train: pd.DataFrame, y_train: pd.Series):
        pass

    def predict(self, X_test: pd.DataFrame) -> np.array:
        return X_test["rides_t-1"]

In [6]:
model = BaselineModelPreviousHour()
predictions = model.predict(X_test)

In [7]:
from sklearn.metrics import mean_absolute_error

In [8]:
from src.experiment_utils import set_mlflow_tracking, log_model_to_mlflow
from dotenv import load_dotenv
sys.path
load_dotenv() 
test_mae = mean_absolute_error(y_test, predictions)
print(f"{test_mae:.4f}")
log_model_to_mlflow(model, X_test, "BaselineModelPreviousHour", "mean_absolute_error", score=test_mae)

['c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\python311.zip',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\DLLs',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike',
 '',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\win32',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\Pythonwin',
 'd:\\EAS-500\\citi_bike_predection']

True

INFO:src.experiment_utils:MLflow tracking URI and credentials set.

6.7635

2025/05/10 03:43:54 INFO mlflow.tracking.fluent: Experiment with name 'BaselineModelPreviousHour' does not exist. Creating a new experiment.
INFO:src.experiment_utils:Experiment set to: BaselineModelPreviousHour
INFO:src.experiment_utils:Logged mean_absolute_error: 6.763534121235227
c:\Users\SAI VIGNESH CHINTALA\anaconda3\envs\citibike\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(
INFO:src.experiment_utils:Model signature inferred.

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

2025/05/10 03:44:34 INFO mlflow.models.model: Found the following environment variables used during model inference: [HOPSWORKS_API_KEY]. Please check if you need to set them when deploying the model. To disable this message, set environment variable `MLFLOW_RECORD_ENV_VARS_IN_MODEL_LOGGING` to `false`.
Successfully registered model 'BaselineModelPreviousHour'.
2025/05/10 03:45:32 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: BaselineModelPreviousHour, version 1
Created version '1' of model 'BaselineModelPreviousHour'.
INFO:src.experiment_utils:Model logged with name: BaselineModelPreviousHour

🏃 View run nervous-foal-291 at: https://dagshub.com/saivignesh-03/citi_bike_prediction.mlflow/#/experiments/0/runs/891462c7246e49a89c5e60f857c99ae4
🧪 View experiment at: https://dagshub.com/saivignesh-03/citi_bike_prediction.mlflow/#/experiments/0

In [9]:
# log_model_to_mlflow(model, X_test, "BaselineModelPreviousHour", "mean_absolute_error", score=test_mae)

In [10]:
import numpy as np

class BaselineModelPreviousWeek:

    def fit(self, X_train: pd.DataFrame, y_train: pd.Series):
        pass

    def predict(self, X_test: pd.DataFrame) -> np.array:
        return X_test[f"rides_t-{7*24}"]

In [11]:
model = BaselineModelPreviousWeek()
predictions = model.predict(X_test)

In [12]:
test_mae = mean_absolute_error(y_test, predictions)
print(f"{test_mae:.4f}")

3.6783

In [13]:
from src.experiment_utils import set_mlflow_tracking, log_model_to_mlflow
from dotenv import load_dotenv
sys.path
load_dotenv() 
# mlflow = set_mlflow_tracking()
log_model_to_mlflow(model, X_test, "BaselineModelPreviousWeek", "mean_absolute_error", score=test_mae)

['c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\python311.zip',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\DLLs',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike',
 '',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\win32',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\SAI VIGNESH CHINTALA\\anaconda3\\envs\\citibike\\Lib\\site-packages\\Pythonwin',
 'd:\\EAS-500\\citi_bike_predection']

True

INFO:src.experiment_utils:MLflow tracking URI and credentials set.
2025/05/10 03:45:33 INFO mlflow.tracking.fluent: Experiment with name 'BaselineModelPreviousWeek' does not exist. Creating a new experiment.
INFO:src.experiment_utils:Experiment set to: BaselineModelPreviousWeek
INFO:src.experiment_utils:Logged mean_absolute_error: 3.6783263438810523
c:\Users\SAI VIGNESH CHINTALA\anaconda3\envs\citibike\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(
INFO:src.experiment_utils:Model signature inferred.

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

Successfully registered model 'BaselineModelPreviousWeek'.
2025/05/10 03:47:04 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: BaselineModelPreviousWeek, version 1
Created version '1' of model 'BaselineModelPreviousWeek'.
INFO:src.experiment_utils:Model logged with name: BaselineModelPreviousWeek

🏃 View run exultant-dove-432 at: https://dagshub.com/saivignesh-03/citi_bike_prediction.mlflow/#/experiments/1/runs/6b58cd1f006845e9bcad84bfcab7d158
🧪 View experiment at: https://dagshub.com/saivignesh-03/citi_bike_prediction.mlflow/#/experiments/1

In [14]:
import numpy as np
import pandas as pd

class BaselineModelLast4Weeks:
    """
    A baseline model that predicts the average of the last 4 weeks (28 days)
    for each test instance.
    """

    def fit(self, X_train: pd.DataFrame, y_train: pd.Series):
        """
        The fit method is not used in this baseline model as it does not learn
        from the training data.
        """
        pass

    def predict(self, X_test: pd.DataFrame) -> np.array:
        """
        Predicts the average of the last 4 weeks (28 days) for each test instance.

        Parameters:
            X_test (pd.DataFrame): The test DataFrame containing lagged features
                                   (e.g., rides_t-{7*24}, rides_t-{14*24}, etc.).

        Returns:
            np.array: An array of predictions based on the average of the last 4 weeks.
        """
        # Define the columns for the last 4 weeks
        last_4_weeks_columns = [
            f"rides_t-{7*24}",  # 1 week ago
            f"rides_t-{14*24}", # 2 weeks ago
            f"rides_t-{21*24}", # 3 weeks ago
            f"rides_t-{28*24}"  # 4 weeks ago
        ]

        # Ensure the required columns exist in the test DataFrame
        for col in last_4_weeks_columns:
            if col not in X_test.columns:
                raise ValueError(f"Missing required column: {col}")

        # Calculate the average of the last 4 weeks
        predictions = X_test[last_4_weeks_columns].mean(axis=1)

        return predictions.to_numpy()

In [15]:
model = BaselineModelLast4Weeks()
predictions = model.predict(X_test)

In [16]:
X_test[X_test['pickup_location_id']=='HB101']

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,0,0,0,0,0,0,23,0,0,0,...,0,0,35,0,0,0,0,0,2023-09-01 00:00:00,HB101
1,36,0,0,0,0,0,35,0,0,0,...,0,0,23,0,0,0,0,0,2023-09-01 12:00:00,HB101
2,19,0,0,0,0,0,30,0,0,0,...,0,0,32,0,0,0,0,0,2023-09-02 00:00:00,HB101
3,22,0,0,0,0,0,40,0,0,0,...,0,0,14,0,0,0,0,0,2023-09-02 12:00:00,HB101
4,2,0,0,0,0,0,9,0,0,0,...,0,0,37,0,0,0,0,0,2023-09-03 00:00:00,HB101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,23,0,0,0,0,0,12,0,0,0,...,0,0,8,0,0,0,0,0,2023-12-29 12:00:00,HB101
240,6,0,0,0,0,0,9,0,0,0,...,0,0,20,0,0,0,0,0,2023-12-30 00:00:00,HB101
241,27,0,0,0,0,0,30,0,0,0,...,0,0,6,0,0,0,0,0,2023-12-30 12:00:00,HB101
242,12,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,2023-12-31 00:00:00,HB101
243,8,0,0,0,0,0,8,0,0,0,...,0,0,4,0,0,0,0,0,2023-12-31 12:00:00,HB101

In [17]:
test_mae = mean_absolute_error(y_test, predictions)
print(f"{test_mae:.4f}")

3.1166

In [18]:
# log_model_to_mlflow(model, X_test, "BaselineModelLast4Weeks", "mean_absolute_error", score=test_mae)

In [19]:
X_test[X_test['pickup_location_id']=='JC116'].sort_values(by=["pickup_hour"])['pickup_hour'].unique()

<DatetimeArray>
['2023-09-01 00:00:00', '2023-09-01 12:00:00', '2023-09-02 00:00:00',
 '2023-09-02 12:00:00', '2023-09-03 00:00:00', '2023-09-03 12:00:00',
 '2023-09-04 00:00:00', '2023-09-04 12:00:00', '2023-09-05 00:00:00',
 '2023-09-05 12:00:00',
 ...
 '2023-12-27 00:00:00', '2023-12-27 12:00:00', '2023-12-28 00:00:00',
 '2023-12-28 12:00:00', '2023-12-29 00:00:00', '2023-12-29 12:00:00',
 '2023-12-30 00:00:00', '2023-12-30 12:00:00', '2023-12-31 00:00:00',
 '2023-12-31 12:00:00']
Length: 244, dtype: datetime64[ns]